@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  background-color: #1a0b2e;
  color: white;
}
.nav-links {
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.btn {
  padding: 12px 20px;

  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  gap: 5px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
}
.wave {
  background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  background: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 760px;
}
.banner-img {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 101px auto 0;
}
.circle {
  position: absolute;
  width: 100%;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: #00ffa3;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 163, 0.4);
}

.banner-info {
  justify-items: center;
  margin: 30px auto;
}
.banner-info h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.banner-info p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.banner-btn {
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.btn3 {
  padding: 12px 20px;
  border: 2px solid #00ffa3;
  border-radius: 50px;
  background-color: transparent;
  color: #00ffa3;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
