@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: #1A0B2E;
    color: white;
}
.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;

}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    gap: 8px;
    font-weight: 600;
    background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
}
.wave {
    background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}