@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.section-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}
.gray-color {
  color: #aa9fb8;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  background-color: #1a0b2e;
  color: white;
}
.nav-links {
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.btn {
  padding: 12px 20px;

  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  gap: 5px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
}
.wave {
  background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  background: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 760px;
}
.banner-img {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 101px auto 0;
}
.circle {
  position: absolute;
  width: 100%;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: #00ffa3;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 163, 0.4);
}

.banner-info {
  justify-items: center;
  margin: 30px auto;
}
.banner-info h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.banner-info p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.banner-btn {
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.btn2 {
  padding: 12px 20px;
  border: 2px solid #00ffa3;
  border-radius: 50px;
  background-color: transparent;
  color: #00ffa3;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.about {
  background: #1a0b2e;
}

.about .about-container {
  padding-bottom: 3rem;
}
.about-content {
  text-align: center;
}
.info1 {
  margin-bottom: 0.5rem;
}
.info2 {
  margin-bottom: 3rem;
}
hr {
  opacity: 0.1;
  max-width: 1200px;
  margin: 0 auto;
}

.data .data-card h3 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  color: #00ff88;
}

.data .data-card {
  text-align: center;
}

.about-container .data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}

.choose {
  background: #230e3d;
}
.choose-container {
  padding: 100px 200px;
  max-width: 1200px;
}
.choose-container h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.choose-box .box {
  background-color: #2a0f4d;
  border-radius: 40px;
  padding: 40px;
}

.box img {
  margin-bottom: 1rem;
}

.box h3 {
  font-size: 1.5rem;
  font: 700;
  color: white;
  margin-bottom: 1rem;
}

.box p {
  color: #aa9fb8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}
.box img {
  width: 50px;
  height: 50px;
}
.mobile-box img {
  width: 50px;
  height: 60px;
}

.choose-box .premium-box {
  grid-area: premium;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-box .mobile-box {
  grid-area: mobile;
}

.choose-box .global-box {
  grid-area: global;
}

.choose-box .exclusive-box {
  grid-area: exclusive;
}

.choose-box .rich-box {
  grid-area: rich;
}

.choose-container .choose-box {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    " premium     mobile      mobile      mobile"
    " premium     global      global      global"
    " exclusive   exclusive   exclusive   rich";
}
