@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 5px;

}
.flex {
  display: flex;
}

.section-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
  text-align: center;

}
.gray-color {
  color: #aa9fb8;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #1a0b2e;
  color: white;
}
.nav-links {
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.btn {
  padding: 12px 20px;

  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  gap: 5px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
  transition: all 0.4s ease;
}
.btn:hover {
  transform: translatey(-6px) scale(1.01);
  
}
.wave {
  background: linear-gradient(90deg, #ffbd39 0%, #ff1f8e 50%, #8e2de2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-icon {
    display: none;
    font-size: 30px;
    color: white;
}

.banner {
  background: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 760px;
}
.banner-img {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 101px auto 0;
}
.circle {
  position: absolute;
  width: 100%;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: #00ffa3;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 163, 0.4);
}

.banner-info {
  justify-items: center;
  margin: 30px auto;
}
.banner-info h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.banner-info p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.banner-btn {
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.btn2 {
  padding: 12px 20px;
  border: 2px solid #00ffa3;
  border-radius: 50px;
  background-color: transparent;
  color: #00ffa3;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.about {
  background: #1a0b2e;
}

.about .about-container {
  padding-bottom: 3rem;
}
.about-content {
  text-align: center;
}
.info1 {
  margin-bottom: 0.5rem;
}
.info2 {
  margin-bottom: 3rem;
}
hr {
  opacity: 0.1;
  max-width: 1200px;
  margin: 0 auto;
}

.data .data-card h3 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  color: #00ff88;
}

.data .data-card {
  text-align: center;
}

.about-container .data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin:80px auto 40px;
}

.choose {
  background: #230e3d;
}
.choose-container {
 padding-block: 100px ;
  max-width: 1200px;
}
.choose-container h2 {
  text-align: center;
  margin-bottom: 3rem;
}
.choose-box .box {
  background-color: #2a0f4d;
  border-radius: 40px;
  padding: 40px;
}

.box img {
  margin-bottom: 1rem;
}

.box h3 {
  font-size: 1.5rem;
  font: 700;
  color: white;
  margin-bottom: 1rem;
}

.box p {
  color: #aa9fb8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}
.box img {
  width: 50px;
  height: 50px;
}
.mobile-box img {
  width: 50px;
  height: 60px;
}

.choose-box .premium-box {
  grid-area: premium;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-box .mobile-box {
  grid-area: mobile;
}

.choose-box .global-box {
  grid-area: global;
}

.choose-box .exclusive-box {
  grid-area: exclusive;
}

.choose-box .rich-box {
  grid-area: rich;
}

.choose-container .choose-box {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    " premium     mobile      mobile      mobile"
    " premium     global      global      global"
    " exclusive   exclusive   exclusive   rich";
}


#episodes {
    background: #1a0b2e;
}

.feature .feature-container {
    padding-block: clamp(3.75rem, 8vw, 7.5rem);
    max-width: 1200px;
}
.feature-container h2{
  text-align: center;
  margin-bottom: 40px;
}

.feature-box .card {
    width: 100%;
    /* max-width: clamp(20rem, 35vw, 23.75rem); */
    border-radius: 24px;
    background-color: #250d44;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.card .video {
    position: relative;
    width: 100%;
}

.video iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: none;
}

.video .play-btn {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    display: grid;
    justify-items: center;
    pointer-events: none;
    background: linear-gradient(45deg,
            #f3c94a 0%,
            #ff6b8a 35%,
            #c84dbb 60%,
            #8e5ae3 80%,
            #6b5cff 100%);
    

}
.video .play-btn::before {
    content: "";
    margin-left: 18px;
    /* margin-right:18px ; */
    margin-top: 22px;
    margin-bottom: 70px;
    border-right: 13px solid transparent;
    border-left: 22px solid white;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    transition: opacity 0.3s ease;
}
.video:hover .play-btn {
    opacity: 0;
    visibility: hidden;
}

.card .card-details {
    padding: 24px;
}

.card-details h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;

}

.card-details .card-info {
    margin-bottom: 1rem;

}

.card-details .video-time {
    color: #00ff88;
    display: flex;
    align-items: center;
    gap: 8px;
}

.feature-box .future-card {
    grid-area: future;
}

.feature-box .remote-card {
    grid-area: remote;
}

.feature-box .career-card {
    grid-area: career;
}

.feature-container .feature-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 1rem;
    grid-template-areas:
        " future   remote    career";
}


.host {
    padding-bottom: 4rem;
    
}

.host-container .host-content {
    background-color: #250d44;
    padding: 2rem;
    border-radius: 40px;
    align-items: center;
    gap: 2rem;
    
}
.host-container{
  max-width: 1200px;
}


 .host-name {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    ;
}

.host-info .host-text {
    margin-bottom: 1rem;
}
.host-text{
  margin-bottom: 1rem;
  line-height: 24px;
}

.host-info .host-media {
    align-items: center;
    gap: 8px;
}

.host-media .insta,
.host-media .youtube,
.host-media .meta-x,
.host-media .linkedin {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 3px solid #533c72;
    align-items: center;
    justify-content: center;
}

.host-media .insta img,
.host-media .youtube img,
.host-media .meta-x img,
.host-media .linkedin img {
    width: 1.125rem;
    height: 1.125rem;
}


footer {
    background-color: #211142;
    background-image: url("assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 8rem;
}

.footer-container .footer-logo {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
    padding-bottom: 1.125rem;
}

.footer-container .footer-social {
    gap: 3rem;
    flex-wrap: wrap;
}

.footer-social .footer-media {
    gap: 8px;
    margin-bottom: 1.25rem;
}

.footer-social .footer-media img {
    width: 1.5rem;
    height: 1.4rem;
    object-fit: contain;
}

.footer-container .copyright {
    line-height: 24px;
    text-align: center;
}